fastapi
uvicorn
openai
python-dotenv
prometheus-fastapi-instrumentator
sqlalchemy
psycopg2-binary
alembic
requests
kubernetes

python-jose[cryptography]
bcrypt==4.0.1
passlib[bcrypt]==1.7.4
python-multipart
